.post-sources {
  font-size: 0.8rem;

  &__separator {
    height: 1px;
    background-color: var(--hover);
    width: clamp(150px, 20vmin, 300px);
    margin: 1rem 0 0.25rem 0;
  }

  ol.list {
    list-style-type: none;

    li {
      counter-increment: ordered-list;

      &:before {
        content: '[' counter(ordered-list, decimal) ']   ';
      }

      a {
        color: var(--content);

        &:hover {
          color: var(--hover);
          text-decoration: underline;
        }
      }
    }
  }
}
