.social-icons {
  display: flex;
  gap: 0.5rem;
  width: 4rem;

  &__icon {
    display: grid;
    place-items: center;
    height: 1.6rem;
    width: 1.6rem;

    border-radius: 0.25rem;
    background-color: var(--content);
    color: var(--background);
    font-weight: 900;
    font-size: 0.8rem;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: --hover-2;
    }
  }
}
