.theme-toggle {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: var(--content-2);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 1.75rem;
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &--light {
    .theme-toggle__indicator {
      margin-left: 2px;
    }
  }

  &--dark {
    .theme-toggle__indicator {
      margin-left: calc(100% - (1rem - 4px) - 2px);
    }
  }

  &__indicator {
    transition-duration: 200ms;
    height: calc(1rem - 4px);
    width: calc(1rem - 4px);
    border-radius: 0.5rem;
    background-color: var(--background);
  }
}
