.introduction {
  &__caption {
    color: var(--content-2);
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    size: 1.2rem;
    font-weight: 400;
    color: var(--content);

    a {
      padding: 0 0.25rem;

      &:hover {
        text-decoration: underline;
        color: var(--hover-2);
      }
    }
  }
}
