.post-quote {
  background-color: var(--background-2);
  padding: 0 3rem;
  margin: 1rem 0;
  color: var(--hover);
  border: 1px solid var(--hover-2);
  border-radius: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    width: 100%;
  }

  cite {
    text-decoration: underline;
    margin-bottom: 1rem;

    a {
      &:hover {
        color: var(--hover-2);
      }
    }
  }
}
