.post-quote {
  background-color: var(--background-2);
  padding: 0 3rem 1rem 3rem;
  margin: 1rem 0;
  color: --hover;
  border: 1px solid --hover-2;
  border-radius: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  cite {
    text-decoration: underline;

    a {
      &:hover {
        color: --hover-2;
      }
    }
  }
}
