.tag {
  border-radius: 0.25rem;
  font-weight: 900;
  font-size: 0.6rem;
  background-color: var(--content-2);
  color: var(--background-2);
  overflow: hidden;
  user-select: none;

  &--with-name {
    padding: 0.25rem 0.5rem;
  }
}
