.light {
  --content: hsl(0, 0%, 20%);
  --content-2: hsl(0, 0%, 30%);
  --hover: hsl(0, 0%, 40%);
  --hover-2: hsl(0, 0%, 60%);
  --background-2: hsl(0, 0%, 90%);
  --background: hsl(0, 0%, 96%);

  --content-pink: hsl(320, 60%, 40%);
  --pink: hsl(320, 80%, 70%);
  --light-pink: hsl(320, 50%, 90%);

  --highlight-yellow: hsl(40, 90%, 80%);
  --highlight-yellow-opacity: hsla(40, 90%, 80%, 0);

  --menu-green: hsl(100, 100%, 20%);
  --menu-blue: hsl(200, 100%, 20%);
  --menu-red: hsl(300, 100%, 20%);

  --box-shadow: hsl(0, 0%, 70%);

  --list-default: hsl(200, 80%, 60%);
  --list-pros: hsl(100, 80%, 40%);
  --list-cons: hsl(0, 80%, 70%);
}

.dark {
  --content: hsl(0, 0%, 80%);
  --content-2: hsl(0, 0%, 70%);
  --hover: hsl(200, 6%, 60%);
  --hover-2: hsl(200, 66%, 60%);
  --background-2: hsl(200, 10%, 14%);
  --background: hsl(200, 10%, 10%);

  --content-pink: hsl(320, 70%, 60%);
  --pink: hsl(320, 80%, 40%);
  --light-pink: hsl(320, 50%, 10%);

  --highlight-yellow: hsl(40, 100%, 24%);
  --highlight-yellow-opacity: hsla(40, 90%, 80%, 0);

  --menu-green: hsl(100, 30%, 60%);
  --menu-blue: hsl(200, 30%, 60%);
  --menu-red: hsl(300, 30%, 60%);

  --box-shadow: hsl(200, 12%, 9%);

  --list-default: hsl(200, 40%, 60%);
  --list-pros: hsl(100, 40%, 60%);
  --list-cons: hsl(0, 60%, 70%);
}
