code.keyword {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding: 0.2rem;
  border: 1px solid var(--pink);
  border-radius: 0.2rem;
  background-color: var(--light-pink);
  color: var(--content-pink);
}

.highlight {
  background: linear-gradient(
    0deg,
    var(--highlight-yellow) 0%,
    var(--highlight-yellow) 40%,
    var(--highlight-yellow-opacity) 40%
  );

  padding: 0.2rem;
  color: var(--content);
}
